.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.item {
  color: green;
}
.item-checked {
  color: red;
}
.star{
  color: #b9b8b4;
  font-size: 25px;
}
.star-checked {
  color: #ffe100;
}
.star-input {
  display: none;
}
.star:hover {
  color: #ffe100;
  font-size: 30px;
}

.rating-stars {
  display: flex;
  justify-content: center;
}

